services:
  api:
    environment:
      MOCKS: spec

  web:
    depends_on:
      - api

  e2e:
    image: mcr.microsoft.com/playwright:v1.48.2-jammy
    working_dir: /tests
    depends_on: [web]
    env_file:
      - .env
    environment:
      WEB_BASE_URL: http://web:${WEB_PORT}
      HOME: /root
    volumes:
      - ./web/e2e:/tests/e2e:ro
      - ./web/playwright.config.js:/tests/playwright.config.js:ro
      - ./reports:/tests/reports
      - e2e_node_modules:/tests/node_modules
    command: >
      bash -lc "
        test -f package.json || npm init -y >/dev/null &&
        npm i -D @playwright/test@1.48.2 &&
        npx playwright test --reporter=html --project=chromium
      "

  e2e-report:
    image: nginx:alpine
    depends_on: [e2e]
    volumes:
      - ./reports:/usr/share/nginx/html:ro
    ports:
      - "9323:80"

volumes:
  e2e_node_modules:
