@font-face {
    font-family: 'Cyber City';
    src: url('CyberCity-Regular.woff2') format('woff2'),
        url('CyberCity-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}