openapi: "3.1.0"
servers:
  - url: /api/v1

tags:
  - name: App
  - name: Extension
  - name: Accounts
  - name: Playnite
  - name: Steam
  - name: Plex

components:
  securitySchemes:
    XAuthEmail:
      $ref: "./components/securitySchemes.yaml#/XAuthEmail"
    XAuthPassword:
      $ref: "./components/securitySchemes.yaml#/XAuthPassword"
    XClientId:
      $ref: "./components/securitySchemes.yaml#/XClientId"
  schemas:
    $ref: "./components/schemas.yaml"

paths:
  # App
  /ping:
    $ref: "./paths/app.yaml#/ping"
  /ping/status:
    $ref: "./paths/app.yaml#/ping_status"
  /sse:
    $ref: "./paths/app.yaml#/sse"
  /log:
    $ref: "./paths/app.yaml#/log"

  # Extension
  /extension/download:
    $ref: "./paths/extension.yaml#/extension_download"

  # Accounts
  /accounts/register/admin:
    $ref: "./paths/accounts.yaml#/accounts_register_admin"
  /accounts/admin/release:
    $ref: "./paths/accounts.yaml#/accounts_admin_release"
  /accounts/register/user:
    $ref: "./paths/accounts.yaml#/accounts_register_user"
  /accounts/login:
    $ref: "./paths/accounts.yaml#/accounts_login"
  /accounts/status:
    $ref: "./paths/accounts.yaml#/accounts_status"
  /accounts/verify:
    $ref: "./paths/accounts.yaml#/accounts_verify"
  /accounts/verify/admin:
    $ref: "./paths/accounts.yaml#/accounts_verify_admin"

  # Playnite
  /playnite/installed:
    $ref: "./paths/playnite.yaml#/playnite_installed"
  /playnite/delta:
    $ref: "./paths/playnite.yaml#/playnite_delta"
  /playnite/snapshot:
    $ref: "./paths/playnite.yaml#/playnite_snapshot"
  /playnite/collection/{collection}:
    $ref: "./paths/playnite.yaml#/playnite_collection"
  /playnite/{collection}/{id}:
    $ref: "./paths/playnite.yaml#/playnite_entity"
  /playnite/media/{path}:
    $ref: "./paths/playnite.yaml#/playnite_media"

  # Steam
  /steam:
    $ref: "./paths/steam.yaml#/steam_root"
  /steam/auth/start:
    $ref: "./paths/steam.yaml#/steam_auth_start"
  /steam/auth/callback:
    $ref: "./paths/steam.yaml#/steam_auth_callback"
  /steam/wishlist:
    $ref: "./paths/steam.yaml#/steam_wishlist"
  /steam/wishlist/sync:
    $ref: "./paths/steam.yaml#/steam_wishlist_sync"

  # Plex
  /plex:
    $ref: "./paths/plex.yaml#/plex_root"
  /plex/auth/start:
    $ref: "./paths/plex.yaml#/plex_auth_start"
  /plex/auth/poll:
    $ref: "./paths/plex.yaml#/plex_auth_poll"
  /plex/unlink:
    $ref: "./paths/plex.yaml#/plex_unlink"
  /plex/sync:
    $ref: "./paths/plex.yaml#/plex_sync"
