body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Firefox: make it a normal-width visible bar */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--mantine-color-default-border) transparent;
}

/* WebKit (Chromium/Safari) */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--mantine-color-default-border);
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
}

/* SUBTLE SCROLLBAR */

.subtle-scrollbar {
  scrollbar-width: thin;
}

/* WebKit */
.subtle-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.subtle-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.subtle-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.05);
  transition: background-color 120ms ease;
}

.subtle-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
}